.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 50px 20px 10px;
    gap: 20px;
    background: rgba(213, 213, 255, 0.3);
    border-radius: 10px;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 10px;
}
.button {
    background: none;
    border: 1px solid rgb(150 150 255);
    cursor: pointer;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.button:hover {
    box-shadow: 0px 0px 5px 1px rgb(150 150 255);
}
.textarea {
    width: 100%;
    resize: none;
    min-height: 200px;
    padding: 5px;
    font-family: inherit;
}
.input {
    width: 100%;
    padding: 5px;
}

.text {
    overflow-wrap: anywhere;
}