
.news {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post {
    display: flex;
    background: rgba(213, 213, 255, 0.3);
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.news_category {
    align-self: end;
    background: #03a9f4;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}
.filter_button {
    flex: 1;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.filter_button:hover {
    box-shadow: 0px 0px 5px 1px rgb(150 150 255);
}
.active {
    background: rgb(150 150 255);
    color: white;
    box-shadow: 0 0 0 0;
    cursor: default;
}
.active:hover {
    box-shadow: none;
}
.text {
    overflow-wrap: anywhere;
}